In [20]:
import pandas as pd
df = pd.read_csv('report.csv')
df.head()

                     kmer  line_no  isFragmented                        header
0  GATGATTCCATTTGATTCCATT     2516         False  >R1258|16324769_16324868|0/1
1  AATGGAATCAAATGGAATCATC     7156         False  >R3578|16327041_16327140|1/1
2  GATGATTCCATTTGATTCCATT     8594         False  >R4297|16305611_16305710|0/1
3  AATGGAATCAAATGGAATCATC     9402         False  >R4701|16378197_16378296|0/1
4  AATGGAATCAAATGGAATCATC    11756         False  >R5878|16367458_16367557|0/1

In [21]:
df.loc[ (df["kmer"] == "GATGATTCCATTTGATTCCATT") & (df["isFragmented"] == False)]

,kmer,line_no,isFragmented,header
0,GATGATTCCATTTGATTCCATT,2516,False,>R1258|16324769_16324868|0/1
2,GATGATTCCATTTGATTCCATT,8594,False,>R4297|16305611_16305710|0/1
12,GATGATTCCATTTGATTCCATT,32658,False,>R16329|16374114_16374213|1/1
13,GATGATTCCATTTGATTCCATT,33794,False,>R16897|16331161_16331260|0/1
14,GATGATTCCATTTGATTCCATT,35462,False,>R17731|16328120_16328219|0/1
...,...,...,...,...
233,GATGATTCCATTTGATTCCATT,591902,False,>R87250|16379716_16379815|1/2
234,GATGATTCCATTTGATTCCATT,592828,False,>R87713|16259535_16259634|0/2
237,GATGATTCCATTTGATTCCATT,603472,False,>R93035|16368188_16368287|1/2
243,GATGATTCCATTTGATTCCATT,610928,False,>R96763|16330472_16330571|0/2
244,GATGATTCCATTTGATTCCATT,613296,False,>R97947|16374488_16374587|1/2

In [22]:
df.loc[ (df["kmer"] == "GATGATTCCATTTGATTCCATT") & (df["isFragmented"] == True)]

,kmer,line_no,isFragmented,header
165,GATGATTCCATTTGATTCCATT,426302,True,>R4450|14289490_14289589|1/2
175,GATGATTCCATTTGATTCCATT,453596,True,>R18097|16472054_16472153|1/2
183,GATGATTCCATTTGATTCCATT,462090,True,>R22344|18198450_18198549|0/2

In [23]:
df.loc[ (df["kmer"] == "AATGGAATCAAATGGAATCATC") & (df["isFragmented"] == False)]

,kmer,line_no,isFragmented,header
1,AATGGAATCAAATGGAATCATC,7156,False,>R3578|16327041_16327140|1/1
3,AATGGAATCAAATGGAATCATC,9402,False,>R4701|16378197_16378296|0/1
4,AATGGAATCAAATGGAATCATC,11756,False,>R5878|16367458_16367557|0/1
5,AATGGAATCAAATGGAATCATC,15906,False,>R7953|16368753_16368852|0/1
6,AATGGAATCAAATGGAATCATC,17602,False,>R8801|16337418_16337517|1/1
...,...,...,...,...
239,AATGGAATCAAATGGAATCATC,606784,False,>R94691|16322787_16322886|1/2
240,AATGGAATCAAATGGAATCATC,608076,False,>R95337|16334270_16334369|1/2
241,AATGGAATCAAATGGAATCATC,610462,False,>R96530|16368749_16368848|0/2
242,AATGGAATCAAATGGAATCATC,610596,False,>R96597|16334518_16334617|1/2
245,AATGGAATCAAATGGAATCATC,613868,False,>R98233|16331689_16331788|1/2

In [24]:
df.loc[ (df["kmer"] == "AATGGAATCAAATGGAATCATC") & (df["isFragmented"] == True)]

,kmer,line_no,isFragmented,header
37,AATGGAATCAAATGGAATCATC,80080,True,>R40040|15562268_15562367|1/1
59,AATGGAATCAAATGGAATCATC,168456,True,>R84228|13268034_13268133|1/1